/* ==========================================================================
   custom.css
   ========================================================================== */

@layer base {
  /* Smooth scroll for anchors */
  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}