{% set title = "Plantilla logueado con título de app. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{% block contentBlock %}
  {% include "includes/_ejemplo-titulo-parrafo.njk" %}
  {% include "includes/_abrir-notificaciones.njk" %}

  <p class="c-paragraph-base mb-0">
    Plantilla en desy-html: src/templates/pages/_template.logged.njk
  </p>
  <p class="c-paragraph-base">
    <a href="https://bitbucket.org/sdaragon/desy-html/src/master/src/templates/pages/_template.logged.njk" class="c-link" target="_blank" title="Se abre en ventana nueva">Ver código Nunjucks de esta plantilla<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="0.8em" width="0.8em" class="inline-block mx-xs no-underline align-baseline" aria-hidden="true" focusable="false" role="img"><g><path d="M23.25,0h-8a.74.74,0,0,0-.69.47.74.74,0,0,0,.16.81L18,4.51l-9.45,9.3a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.7-.28l9.48-9.33,3.29,3.24a.74.74,0,0,0,.53.22.72.72,0,0,0,.29-.06A.74.74,0,0,0,24,8.62V.75A.76.76,0,0,0,23.25,0Z" fill="currentColor"></path><path d="M18.5,10.62a1,1,0,0,0-1,1V22H2V6.5H12.37a1,1,0,0,0,0-2H1.87A1.87,1.87,0,0,0,0,6.37V22.12A1.88,1.88,0,0,0,1.87,24H17.62a1.88,1.88,0,0,0,1.88-1.88V11.62A1,1,0,0,0,18.5,10.62Z" fill="currentColor"></path></g></svg></a>
  </p>
{% endblock %}